
.icon_trend_up,
.icon_trend_down{display:inline-block; width:16px;height:16px;background-color:#64C7FF;vertical-align:middle;background:url(../img/bg.png) no-repeat;}
.icon_trend_up{background-position:-22px -220px;}
.icon_trend_down{background-position:0 -220px;}
.toolbar{height:29px; background:url(../img/index_toolbar.jpg) #466FA7  no-repeat 50% 0;}
.banner{height:250px; background:url(../img/index_banner.jpg) #1A4C91  no-repeat 50% 0;}
.nav{height:42px; background-color:#DBEDFD;}
.container{background-color:#F1F3F4;padding-bottom:20px;}
.contennt{width:988px;margin:0 auto;padding-top:20px;}

.toolbar_inner{width:988px;margin:0 auto;}
.banner_inner{position:relative; width:988px;margin:0 auto;}
.nav_inner{width:988px;margin:0 auto;}


.header_toolbar_list { float:right;margin-top:7px;}
.header_toolbar_item{float:left;border-left:#fff solid 1px;padding:0 10px; color:#fff;line-height:14px;}
.header_toolbar_link{color:#fff;cursor:pointer; }
.header_toolbar_link:hover{color:#fff;}
.header_toolbar_welcome{border-left:none;}

.banner_month{position:absolute;display:block;width:70px; top:40px;left:467px;text-align:center; font-size:42px;color:#FEFA8B;text-shadow:2px 2px 2px #215BBC;}
.banner_dan_amounts{position:absolute;display:block;width:262px; top:54px;left:548px;text-align:right; font-size:43px;color:#FEFA8B;text-shadow:2px 2px 2px #215BBC;}
.banner_dan_info_tit1{position:absolute;display:block;width:150px; top:123px;left:544px;text-align:right; font-size:12px;color:#03306D;font-family:"Microsoft YaHei"; }
.banner_dan_info_con1{position:absolute;display:block;width:100px; top:118px;left:705px; text-align:right; font-size:17px;color:#FFFFFF;font-family:"Microsoft YaHei"; }
.banner_dan_info_tit2{position:absolute;display:block;width:150px; top:152px;left:544px;text-align:right; font-size:12px;color:#03306D;font-family:"Microsoft YaHei"; }
.banner_dan_info_con2{position:absolute;display:block;width:100px; top:148px;left:705px; text-align:right; font-size:17px;color:#FFFFFF;font-family:"Microsoft YaHei"; }
.banner_deal_per{position:absolute;display:block;width:48px; top:146px;left:813px;text-align:center; font-size:16px;color:#FEFA8B; }
.banner_trend{position:absolute;display:block;width:37px; top:65px;left:862px;text-align:center; font-size:14px;color:#FEFA8B;}
.banner_trend .trend_arrow_up,
.banner_trend .trend_arrow_down{display:block;width:15px;height:20px; background:url(../img/bg.png) no-repeat;margin-left:10px;margin-top:2px;  }
.banner_trend .trend_arrow_up{background-position:-154px -264px}
.banner_trend .trend_arrow_down{background-position:-173px -264px}


.nav_item{float:left;font-family:"Microsoft YaHei"; }
.nav_link{display:block;width:100px; height:42px;text-align:center;font-size:14px; line-height:42px;color:#03306D;cursor:pointer;}
.nav_item_cur{background-color:#317EE7;}
.nav_item_cur .nav_link{color:#fff;text-shadow:2px 2px 2px #215BBC;}


.index_mod1{border:#D8DBDE solid 1px;border-top:none; background-color:#fff;margin-bottom:15px;}
.index_mod1_hd{position:relative; height:66px;border-top:#D8DBDE solid 1px;}

.index_mod1_hd .progress_num{float:left;margin:21px 0 0 10px; font-size:16px;color:#0E3C79;}
.index_mod1_hd .trend_con {float:left;margin-left:10px; margin-top:14px;}
.trend_con .trend_per_wrap{position:relative; display:inline-block;*display:inline;*zoom:1; width:58px;height:40px;margin:0 5px; background-color:#35A8F5;vertical-align:middle;background:url(../img/bg.png) no-repeat;}

.trend_per_wrap.trend_up_wrap{background-position:-113px -217px}
.trend_per_wrap.trend_up_wrap span{position:absolute;font-size:14px;color:#35A8F4;left:10px;}
.trend_per_wrap.trend_down_wrap{height:46px; background-position:0px -243px}
.trend_per_wrap.trend_down_wrap span{position:absolute;font-size:14px;color:#F07351;left:13px;}

.index_mod1_unflod_link,
.index_mod1_flod_link{display:block;position:absolute; width:16px;height:9px;background-color:#539BFC;right:30px;top:30px;background:url(../img/bg.png) no-repeat ;}
.index_mod1_unflod_link{background-position:-50px -224px;}
.index_mod1_flod_link{background-position:-78px -224px;}


.index_mod1_bd{padding:15px; border-top:#D8DBDE solid 1px;}
.index_mod1_hd h3{float:left;margin-left:20px; font-size:18px;line-height:66px; font-weight:400;}

.index_mod2{margin-bottom:15px; border:#DEDEDE solid 1px;background:#fff;}
.index_mod2_hd{position:relative; height:45px;line-height:45px;border-bottom:#DEDEDE solid 1px;background:url(../img/bg.png) repeat-x 0 1px;}
.index_mod2_hd h3{float:left;margin-left:20px; font-size:18px;font-weight:400;}
.index_mod2_hd  .extra{position:absolute;right:10px;top:-2px;}
.index_mod2_bd{padding:10px  10px 20px;}
.chart_tab,
.details_tab{float:left;width:620px;margin-right:10px;}
.rank_tab{float:left;width:335px;}
.chart_tabhd{position:relative; height:42px;border-bottom:#BECCDF solid 1px;overflow:hidden;}
.chart_tabhd_item{float:left;width:155px;margin-left:-1px; border-left:#A2BCE0 solid 1px; height:42px;line-height:42px; background-color:#CCE0FA;text-align:center;color:#000;font-size:14px;background:url(../img/bg.png) repeat-x 0 -86px;}
.chart_tabhd_item_cur{background-color:#7EAFF0;color:#fff;background-position:0 -44px}
.chart_tabbd{padding:5px; border:#BECCDF solid 1px;border-top:none;}

.details_tabhd{margin-left:-13px;height:84px;}
.details_tabhd_item{float:left; width:145px;margin-left:13px;_display:inline;cursor:pointer;background-color:#fff;}
.details_tab_type{width:145px;height:40px;font-size:14px; line-height:40px;text-align:center;background:url(../img/bg.png) no-repeat 0 -167px;}
.details_tabhd_item .num{position:relative; width:113px;height:33px;border:#E4E9F1 solid 1px;border-top:none;padding:10px 0 0 30px;}
.details_tabhd_item span{display:inline-block;width:72px;height:19px;line-height:18px;text-align:center; background:url(../img/bg.png) no-repeat -67px -263px;}
.details_tabhd_item_cur {border:#D6E0EE solid 1px;border-bottom:none;width:143px;}
.details_tabhd_item_cur .details_tab_type{margin:1px;width:141px;height:38px;background:url(../img/bg.png) no-repeat 0 -129px;}
.details_tabhd_item_cur .num{border:none; height:44px;border-bottom:none;background-color:#fff;}
.details_tabbd{width:597px;padding:10px; margin-top:10px; border:#D6E0EE solid 1px;}
.details_table{width:100%;}
.details_table td{padding:4px;}





.rank_tabhd{position:relative;height:41px; border:#DEDEDE solid 1px;line-height:41px;*line-height:36px;

background: -moz-linear-gradient(top, #F5F8FC 1%, #EFF1F6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#F5F8FC), color-stop(100%,#EFF1F6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #F5F8FC 1%,#EFF1F6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #F5F8FC 1%,#EFF1F6 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #F5F8FC 1%,#EFF1F6 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F8FC', endColorstr='#EFF1F6',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #F5F8FC 1%,#EFF1F6 100%); /* W3C */

}
.rank_tabhd h4{float:left;width:113px;height:41px;font-size:16px; text-align:center;font-weight:400;


}
.rank_tabhd_item{float:left; width:73px;text-align:center;font-size:14px;}
.rank_tabhd_item_cur{position:relative;background-color:#fff; top:-1px; width:71px; height:38px;line-height:35px;*line-height:33px; border-style:solid;border-color:#FFAB02 #E8E9EB #fff #E8E9EB;border-width:4px 1px 1px 1px;}
.rank_tabbd{clear:both;}
.rank_tabbd a.mod_btn{margin-top:5px; cursor:pointer;}
.rank_list{width:100%;}
.rank_list td{padding:6px 15px;}
.rank_list tr:hover td{background-color:#F5F9FD;}
.per_col,.trend_col{text-align:center;}

.progress_wrap{float:left;margin-left:20px; margin-top:26px;}
.progress_bar{width:300px;height:11px;border-style:solid;border-color:#ECEDF0 #D1DAE5 #BECCDC #ECEDF0;border-width:1px;background-color:#fff;}
.progress_per{float:left;position:relative; }
.progress_per_bg{position:absolute;top:0;left:0; width:100%;height:12px;}
.progress_per_txt{margin-top:15px;text-align:center;white-space:nowrap;background-color:#fff;}
.progress_per_txt_top{margin-top:-17px;}
.rank_list tr:nth-child(even) td{background-color:#F5F9FD;}