<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.zend.php.phpunit.PHPUnitLaunchConfigurationType">
<stringAttribute key="ATTR_LOCATION" value="C:\Program Files (x86)\Zend\Zend Studio 10.1.0\plugins\com.zend.php.debug.debugger.win32.x86_5.3.21.v20130625\resources\php54\php-cgi.exe"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="PHPUnit"/>
<stringAttribute key="ATTR_WORKING_DIRECTORY" value="PHPUnit"/>
<stringAttribute key="ZEND_PHPUNIT_TESTS_CONTAINER_TYPE" value="SCRIPT_SOURCE"/>
<booleanAttribute key="com.zend.php.phpunit.code_coverage" value="true"/>
<stringAttribute key="com.zend.php.phpunit.container" value="demo.php"/>
<booleanAttribute key="com.zend.php.phpunit.is_suite" value="true"/>
<booleanAttribute key="com.zend.php.phpunit.logXml" value="true"/>
<stringAttribute key="com.zend.php.phpunit.logXmlLocation" value="C:\Users\KENZFL~1\AppData\Local\Temp\web.phpunit.demo.php.5215732812423293177.xml"/>
<stringAttribute key="com.zend.php.phpunit.phpunitPath" value=""/>
<stringAttribute key="com.zend.php.phpunit.project" value="PHPUnit"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<booleanAttribute key="firstLineBreakpoint" value="false"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ZEND_PHPUNIT_LOG_XML" value="C:\Users\KENZFL~1\AppData\Local\Temp\web.phpunit.demo.php.5215732812423293177.xml"/>
<mapEntry key="ZEND_PHPUNIT_PORT" value="7478"/>
<mapEntry key="ZEND_PHPUNIT_PROJECT_LOCATION" value="K:\opt\web\PHPUnit"/>
<mapEntry key="ZEND_PHPUNIT_TESTS_LOCATION" value="C:\Users\KENZFL~1\AppData\Local\Temp\web.phpunit.demo.php.4259733183179154004.php"/>
</mapAttribute>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/PHPUnit"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="com.zend.php.debug.core.launch.PHPExecutableExtendedLaunchDelegate"/>
<stringAttribute key="org.eclipse.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.zendDebugger"/>
<stringAttribute key="php_debug_type" value="php_exe_script_debug"/>
</launchConfiguration>
